{% extends "base_mobile.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

      {% block head_title %}
            <title>{% trans "Change Password" %}</title>
      {% endblock %}

{% block css %}
{{ block.super }}

{% endblock css %}

{% block page_header %}
{{ block.super }}
{% endblock page_header %}

{% block page_footer %}

{% endblock page_footer %}



    
{% block page_title %}
    {% block page_title_name %}
               {{ block.super }}
    {% endblock page_title_name %}
    {% block page_title_body %}
                <div class="d-flex flex-row me-0">
{#                <a href="#" class="page-title-icon shadow-xl bg-theme color-theme show-on-theme-light" data-toggle-theme><i class="fa fa-moon"></i></a>#}
{#                <a href="#" class="page-title-icon shadow-xl bg-theme color-theme show-on-theme-dark" data-toggle-theme><i class="fa fa-lightbulb color-yellow-dark"></i></a>#}
                <a href="#" class="page-title-icon shadow-xl bg-theme color-theme" data-menu="menu-main"><i class="fa fa-bars"></i></a>
                </div>
                </div>
                 <div class="page-title-clear"></div>

        <div id="menu-main" class="menu menu-box-left rounded-0" data-menu-width="280" data-menu-active="nav-welcome" data-menu-load={% static "menu/menu-main.html"%}></div>

            {% endblock page_title_body %}

{% endblock page_title %}
{% block content %}
            
    <div class="page-content pb-0">
    <div class="card card-style">
            <div class="content">
                <p class="mb-n1 color-highlight font-600 font-12">{% trans "Edit" %}</p>
                <h4>{% trans " Change your Password" %}</h4>
                <div class="mt-5 mb-3">
                    <form method="POST" action="{% url 'account_change_password' %}" >
                        {% csrf_token %}
                        {{ form|crispy}}
                        <div class="form-group"><button type="submit" name="action" class="btn btn-success py-2 px-5" style="float: right;">{% trans "Change Password" %}</button>
                            </div>
                    </form>
                </div>
            </div>
    </div>
    </div>


    {% endblock content %}
    <!-- Page content ends here-->
         
    


{% block project_js %}
<script type="text/javascript" src={% static "vendor/mobile/scripts/bootstrap.min.js" %}></script>
    <script type="text/javascript" src={% static "vendor/mobile/scripts/custom.js" %}></script>

    <script>
    const inputArrayb = document.getElementsByClassName('upload-fileb');
        if(inputArrayb.length){
            inputArrayb[0].addEventListener('change',prepareUpload,false);
                function prepareUpload(event){
                  if (this.files && this.files[0]) {
                  var img = document.getElementById('image-datab');
                  img.src = URL.createObjectURL(this.files[0]);

              }
                const files = event.target.files;
                const fileName = files[0].name;
                console.log(fileName);

                //document.getElementsByClassName('upload-fileb-name')[0].innerHTML = files[0].name;

            }

        }
    </script>
{% endblock project_js %}
